<div class="col mb-2">
  <div class="card">
    <img
      class="card-img-top"
      [src]="recette.imageURL"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">{{ recette.titre }}</h5>
      <p class="card-text">
        {{ recette.shortDescription }}
      </p>
      <a  class="btn"
         *ngIf="(recette$ | async) as rec"
         [ngClass]="recette.id == rec.id ? 'btn-danger' : 'btn-dark'"
         (click)="onDisplayDetails()">Détails</a>
    </div>
  </div>
</div>



